[submodule "linux"]
	path = linux
	url = git@github.com:byteporter/linux.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:byteporter/buildroot.git
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:byteporter/u-boot.git
